<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1">Comments</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Posts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <!--                TODO ccnage to session id-->
                <a class="nav-link" href="/post/myposts/1">My posts <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container w-50">
    <form>
        <div class="form-group">
            <label for="newCommentText">Comment on post</label>
            <textarea class="form-control" id="newCommentText" placeholder="Enter text..."></textarea>
        </div>
        <button th:data-post-id="${postDisplay.postId}"
                onclick="newComment(this.getAttribute('data-post-id'));" type="button" class="btn btn-danger ml-1">
            Comment
        </button>
    </form>
    <ul class="list-group">
        <li
                class="mt-3 mb-2 border-top list-group-item d-flex justify-content-between align-items-center">
            <span>Make a title dude</span>
            <p th:text="${postDisplay.postText}" class="card-text"></p>
            <small th:text="${postDisplay.authorName}"></small>
            <small th:text="${postDisplay.postDate}"></small>
        </li>
    </ul>
    <div th:each="comment: ${comments}">
        <span th:text="${comment.date}"></span>
        <span th:text="${comment.commentText}"></span>
        <span th:text="${comment.author}"></span>
    </div>
</div>

</body>

<script type="text/javascript">

    const newCommentText = document.getElementById("newCommentText");

    function newComment(id) {

        if (newCommentText.value) {
            fetch("/comment/" + id, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    text: newCommentText.value,
                    author: 3,
                    postId: id
                })
            }).then(() =>
               location.reload()
            );
        }
    }
</script>
</html>