<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My posts</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1">Posts</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Posts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <!--                TODO ccnage to session id-->
                <a class="nav-link" href="/post/myposts/1">My posts <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container w-50">

    <form>
        <div class="form-group">
            <label for="newPostText">Post text</label>
            <textarea class="form-control" id="newPostText" placeholder="Enter text..."></textarea>
        </div>
        <button onclick="newPost()" type="button" class="btn btn-danger ml-1">Post</button>
    </form>

    <ul class="list-group">
        <div th:each="post: ${postDisplay}">
            <a th:href="'/comments/' + ${post.postId}">
                <li
                        class="mt-3 mb-2 border-top list-group-item d-flex justify-content-between align-items-center">
                    <span>Make a title dude</span>
                    <p th:text="${post.postText}" class="card-text"></p>
                    <small th:text="${post.authorName}"></small>
                    <small th:text="${post.postDate}"></small>
                    <span th:text="${post.commentsAmount}" class="badge badge-primary badge-pill">14</span>
                </li>
            </a>
            <button type="button" class="btn btn-danger btn-sm" th:data-post-id="${post.postId}"
                    onclick="deletePost(this.getAttribute('data-post-id'));">Delete
            </button>
            <button type="button" class="btn btn-danger btn-sm" th:data-post-id="${post.postId}"
                    onclick="editPost(this.getAttribute('data-post-id'));">Edit
            </button>
        </div>

    </ul>
</div>
</div>
</body>
<script type="text/javascript">

    const newPostText = document.getElementById("newPostText");

    function newPost() {
        if (newPostText.value) {
            fetch("/post", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    text: newPostText.value,
                    authorId: 1
                })
            }).then(() =>
                location.reload()
            );
        }
    }

    function editPost(id) {
        window.location = "/post/edit/" + id;
    }

    function deletePost(id) {
        fetch("/post/" + id, {method: "DELETE"}).then(() => {
            location.reload();
        });
    }
</script>
</html>