<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <span class="navbar-brand mb-0 h1">Posts</span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Posts <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <!--                TODO ccnage to session id-->
                <a class="nav-link" href="/post/myposts/1">My posts <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <p th:text="${userid}"></p>
    <ul class="list-group">
        <div th:each="post: ${postDisplay}">
            <a th:href="'/comments/' + ${post.postId}">
                <li class="mt-3 mb-2 border-top list-group-item d-flex justify-content-between align-items-center">
                    <span>Make a title dude</span>
                    <p th:text="${post.postText}" class="card-text"></p>
                    <small th:text="${post.authorName}"></small>
                    <small th:text="${post.postDate}"></small>
                    <span th:text="${post.commentsAmount}" class="badge badge-primary badge-pill">14</span>
                </li>
            </a>
        </div>

    </ul>
</div>
<script type="text/javascript">

    console.log(document.cookie);

</script>

</body>
</html>